/* All pages styles */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body{
margin: 0;
padding: 0;
overflow: hidden;
}

/* Login page styles */

.login_page{
background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
height: 100vh;
}
.content_box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;
background: white;
border-radius: 10px;
box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.content_box h1{
text-align: center;
padding: 20px 0;
border-bottom: 1px solid silver;
font-size: 30px;
}
.content_box form{
padding: 0 40px;
box-sizing: border-box;
}
form .txt_field{
position: relative;
border-bottom: 2px solid #adadad;
margin: 30px 0;
}
.txt_field input{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
background: none;
outline: none;
}
.txt_field label{
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: .5s;
}
.txt_field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background: #2691d9;
transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
top: -5px;
color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
width: 100%;
}
.pass{
margin: -5px 0 20px 5px;
color: #a6a6a6;
cursor: pointer;
}
.pass:hover{
text-decoration: underline;
}
.pass a{
  text-decoration: none;
}
input[type="submit"]{
width: 100%;
height: 50px;
border: 1px solid;
background: #2691d9;
border-radius: 25px;
font-size: 18px;
color: #e9f4fb;
font-weight: 700;
cursor: pointer;
outline: none;
}
input[type="submit"]:hover{
border-color: #2691d9;
transition: .5s;
}
.signup_link{
margin: 30px 0;
text-align: center;
font-size: 16px;
color: #666666;
}
.signup_link a{
color: #2691d9;
text-decoration: none;
}
.signup_link a:hover{
text-decoration: underline;
}
.error{
margin: 30px 0;
text-align: center;
font-size: 20px;
color: #f90a0a;
}

/* Signup page styles */

.signup_page{
background: linear-gradient(120deg,#df9f15, #d44def);
height: 100vh;
}
.signup_page .content_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  padding-right: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
}
.signup_page .content_box h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-size: 28px;
}
.signup_page .content_box form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.error{
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
  color: #f90a0a;
}

/* product backlog page styles */

.product_backlog{
  background: linear-gradient(120deg, #8e44ad, #2980b9);
  height: 100vh;
}
.product_backlog h1{
  text-align: left;
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  font-size: 60px;
  color: white;
}
.product_backlog .sidebar{
  position: fixed;
  right: -250px;
  width: 250px;
  height: 100%;
  background: linear-gradient(120deg,#df9f15, #d44def);
  transition: all .5s ease;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
.product_backlog .sidebar header{
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 70px;
  background-color: linear-gradient(120deg,#df9f15, #d44def);
  user-select: none;
  border-bottom: 2px solid black;
}
.product_backlog .sidebar ul li{
  list-style: none;
}
.product_backlog .sidebar a{
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 90px;
  font-size: 21px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 2px solid rgba(255,255,255,.1);
  border-bottom: 2px solid black;
}
.product_backlog .sidebar a:hover{
  padding-left: 50px;
  color: orange;
  transition: 0.4s ease-in-out;
}
#check{
  display: none;
}
label #btn, label #cancel{
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}
label #btn:hover, label #cancel:hover{
  transform: scale(1.3);
}
label #btn{
  right: 30px;
  top: 25px;
  font-size: 35px;
  color: black;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  right: -100px;
  top: 25px;
  font-size: 40px;
  color: black;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  right: 0;
}
#check:checked ~ label #btn{
  right: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  right: 30px;
}
.add_task_form{
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.add_task_form .text{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.show_add_task_btn{
  background-color: black;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-color: black;
  position: absolute;
  top: 25px;
  left: 50%;
}
.show_add_task_btn:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
#add_task_check:checked ~ .add_task_form{
  visibility: visible;
  opacity: 1;
}
#add_task_check{
  display: none;
}
.add_task_form label{
  position: absolute;
  right: 10px;
}
.add_task_form label:hover{
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
.add_task_form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.add_task_form .description_field{
  position: relative;
}
.task_box {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 0.5fr));
  grid-row: 150px;
  padding: 10px;
  gap: 20px;
  justify-content: center;
  overflow: auto;
  max-height: 90%;
  margin-top: 10px;
}
.task_box .miniature_card{
  width: 290px;
  max-width: 290px;
  height: 260px;
  max-height: 260px;
  background-color: #fff;
  justify-content: left;
  align-items: left;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  overflow: hidden;
  margin-left: 10px;
  word-wrap: break-word;
}
.miniature_card .description{
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.miniature_card i{
  font-size: 22px !important;
  color: red;
}
.miniature_card .name{
font-size: 22px;
color: #464e56;
font-weight: 600;
}
.miniature_card .quote2{
font-size: 15px;
font-weight: 500;
color: #868e94;
}
.line span { 
  display:block; 
  width:20%; 
  float:left; 
  height:5px;
  margin-top: 20px;
  height: 30px;
}
.line{
    width:100%;
}
.color-1{
    background: limegreen;
}
.color-2{
    background:greenyellow;
}
.color-3{
    background:yellow;
}
.color-4{
    background:orange;
}
.color-5{
    background:red;
}
.miniature_card:hover{
  transform: scale(1.05);
  transition: 500ms ease;
}
.miniature_card:hover .front_facing{
  transform: translateY(150%);
  transition: 1s ease;
}
.miniature_card:hover .back_facing{
  transform: translateY(0%);
  transition: 1s ease;
  display: contents;
}
.miniature_card a{
  margin-right: 10px;
  color: #464e56;
  text-decoration: none;
}
.miniature_card a:hover{
 color: blue;
}
.back_facing{
  transform: translateY(0%);
  display: none;
}
/* forgotpassword page styles */

.forgotpassword_page{
  background: linear-gradient(120deg,#df9f15, #d44def);
  height: 100vh;
  }
  .forgotpassword_page .content_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding-right: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
  }
  .forgotpassword_page .content_box h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    font-size: 28px;
  }
  .forgotpassword_page .content_box form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .error{
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    color: #f90a0a;
  }

  /* Update page styles */

  .update_page{
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    height: 100vh;
  }
  .update_task_form{
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .update_task_form .text{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .update_task_form label{
    position: absolute;
    right: 10px;
  }
  .update_task_form label:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
  }
  .update_task_form textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  .update_task .description_field{
    position: relative;
    margin: 30px 0;
  }

/* Kanban page style */
.kanban_page{
  background: linear-gradient(120deg, #8e44ad, #2980b9);
  height: 100vh;
}

.kanban_page h1{
  text-align: left;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 60px;
  color: white;
}

.Todo{
  float: left;
  text-align: center;
  border: 3px solid white;
  width:25%;
  height: max-content;
}

.Todo h2{
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  font-size: 30px;
  color: white;
}

.Doing{
  float: left;
  text-align: center;
  border: 3px solid white;
  width:50%;
}

.Doing h2{
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  font-size: 30px;
  color: white;
}

.Done{
  float: right;
  text-align: center;
  border: 3px solid white;
  width:25%;
}

.Done h2{
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  font-size: 30px;
  color: white;
}
