{% extends "base.html" %}

{% block head %}
<title>Forgot Password Page</title>
{% endblock %}

{% block body %}
<div class="forgotpassword_page">
  <div class="content_box">
      <h1>Forgotten password? &#10024;</h1>
      <form method="POST">

        <div class="txt_field">
          <input type="email" name="email" required>
          <span></span>
          <label>Email</label>
        </div>

        <input type="submit" value="Send Email">
      </form>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
  </div>
</div>
{% endblock %}