{% extends "base.html" %}

{% block head %}
<title>Kanban Board</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
{% endblock %}

{%block body %}
<div class="kanban_page">
    <h1>Kanban Page</h1>
     <div class="todo-container" >
        <div class="status">
            <h2>To-do &#10071</h2>
            {% for task in tasks %}
            {% if task[6] == "To do" and task[12] == id %}
            <div class="miniature_card">
                <div class="back_facing">
                    <p class="description">{{task[5]}}</p>
                    <br>
                    <a href="/remove/{{task[0]}}/{{id}}">Remove</a>
                    <a href="/update/{{task[0]}}">Edit</a>
                </div>
                <div class="front_facing">
                    {% if task[6] == "To do" %}
                        <div><i class="fa fa-exclamation-circle" style="color:red; margin-top: 5px;"></i></div>
                    {% elif task[6] == "Doing" %}
                        <div><i class="fa fa-ellipsis-h" style="color: 	#CCCC00; margin-top: 5px;"></i></div>
                    {% else %}
                        <div><i class="fa fa-check" style="color:green; margin-top: 5px;"></i></div>
                    {% endif %}
                    <div class="card_text">
                        <h3 class="name">{{task[1]}}</h3>
                        <br>
                    </div>
                    <div class="tag_type_priority">
                        <i class="fa fa-id-card"></i>
                        <span class="quote2">Type: {{task[13]}}</span>
                        <br>
                        <i class="fa fa-tags"></i>
                        <span class="quote2">Tag: {{task[2]}}</span>
                        <br>
                        <i class="fa fa-calendar"></i>
                        <span class="quote2">Priority: {{task[3]}}</span>
                        <br>
                        <i class="fa fa-user-circle"></i>
                        <span class="quote2">Assignee: {{task[11]}}</span>
                        <br>
                        <div class="line">
                            {% if task[4] == "1" %}
                                <span class="color-1"></span>
                            {% elif task[4] == "2" %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                            {% elif task[4] == "3" %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                                <span class="color-3"></span>
                            {% elif task[4] == "4" %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                                <span class="color-3"></span>
                                <span class="color-4"></span>
                            {% else %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                                <span class="color-3"></span>
                                <span class="color-4"></span>
                                <span class="color-5"></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="status">
            <h2>Doing &#128172</h2>
            {% for task in tasks %}
            {% if task[6] == "Doing" and task[12] == id %}
            <div class="miniature_card">
                <div class="back_facing">
                    <p class="description">{{task[5]}}</p>
                    <br>
                    <a href="/remove/{{task[0]}}/{{id}}">Remove</a>
                    <a href="/update/{{task[0]}}">Edit</a>
                </div>
                <div class="front_facing">
                    {% if task[6] == "To do" %}
                        <div><i class="fa fa-exclamation-circle" style="color:red; margin-top: 5px;"></i></div>
                    {% elif task[6] == "Doing" %}
                        <div><i class="fa fa-ellipsis-h" style="color: 	#CCCC00; margin-top: 5px;"></i></div>
                    {% else %}
                        <div><i class="fa fa-check" style="color:green; margin-top: 5px;"></i></div>
                    {% endif %}
                    <div class="card_text">
                        <h3 class="name">{{task[1]}}</h3>
                        <br>
                    </div>
                    <div class="tag_type_priority">
                        <i class="fa fa-id-card"></i>
                        <span class="quote2">Type: {{task[13]}}</span>
                        <br>
                        <i class="fa fa-tags"></i>
                        <span class="quote2">Tag: {{task[2]}}</span>
                        <br>
                        <i class="fa fa-calendar"></i>
                        <span class="quote2">Priority: {{task[3]}}</span>
                        <br>
                        <i class="fa fa-user-circle"></i>
                        <span class="quote2">Assignee: {{task[11]}}</span>
                        <br>
                        <div class="line">
                            {% if task[4] == "1" %}
                                <span class="color-1"></span>
                            {% elif task[4] == "2" %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                            {% elif task[4] == "3" %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                                <span class="color-3"></span>
                            {% elif task[4] == "4" %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                                <span class="color-3"></span>
                                <span class="color-4"></span>
                            {% else %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                                <span class="color-3"></span>
                                <span class="color-4"></span>
                                <span class="color-5"></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="status">
            <h2>Done &#9989</h2>
            {% for task in tasks %}
            {% if task[6] == "Done" and task[12] == id %}
            <div class="miniature_card">
                <div class="back_facing">
                    <p class="description">{{task[5]}}</p>
                    <br>
                    <a href="/remove/{{task[0]}}/{{id}}">Remove</a>
                    <a href="/update/{{task[0]}}">Edit</a>
                </div>
                <div class="front_facing">
                    {% if task[6] == "To do" %}
                        <div><i class="fa fa-exclamation-circle" style="color:red; margin-top: 5px;"></i></div>
                    {% elif task[6] == "Doing" %}
                        <div><i class="fa fa-ellipsis-h" style="color: 	#CCCC00; margin-top: 5px;"></i></div>
                    {% else %}
                        <div><i class="fa fa-check" style="color:green; margin-top: 5px;"></i></div>
                    {% endif %}
                    <div class="card_text">
                        <h3 class="name">{{task[1]}}</h3>
                        <br>
                    </div>
                    <div class="tag_type_priority">
                        <i class="fa fa-id-card"></i>
                        <span class="quote2">Type: {{task[13]}}</span>
                        <br>
                        <i class="fa fa-tags"></i>
                        <span class="quote2">Tag: {{task[2]}}</span>
                        <br>
                        <i class="fa fa-calendar"></i>
                        <span class="quote2">Priority: {{task[3]}}</span>
                        <br>
                        <i class="fa fa-user-circle"></i>
                        <span class="quote2">Assignee: {{task[11]}}</span>
                        <br>
                        <div class="line">
                            {% if task[4] == "1" %}
                                <span class="color-1"></span>
                            {% elif task[4] == "2" %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                            {% elif task[4] == "3" %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                                <span class="color-3"></span>
                            {% elif task[4] == "4" %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                                <span class="color-3"></span>
                                <span class="color-4"></span>
                            {% else %}
                                <span class="color-1"></span>
                                <span class="color-2"></span>
                                <span class="color-3"></span>
                                <span class="color-4"></span>
                                <span class="color-5"></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
    </div>
</div>
<div class="return_button">
    <a href="http://127.0.0.1:5000/sprint-board">Sprint Board &#127939</a>
</div>
<input type="checkbox" id="add_task_check">
<label for="add_task_check" class="show_add_task_btn2">+ Add Task</label>
<div class="add_task_form">
    <label for="add_task_check" class="close-btn fas fa-times"></label>
    <div class="text">Add Tasks</div>
    <br>
    <form method="POST">
      <div class="add_task">
        <label for="add_task">All Tasks</label>
        <select id="add_task" name="add_task">
            {% for task in tasks %}
                {% if task[12] == None %}
                    <option value="{{ task[0] }}" selected>{{ task[1] }}</option>
                {% endif %}
            {% endfor %}
        </select>
      </div>
      <br>
      <input type="submit" value="Add Tasks">
    </form>
</div>

{% endblock %}