{% extends "base.html" %}

{% block head %}
<title>Animated Login Form</title>
{% endblock %}

{% block body %}
<div class="login_page">
  <div class="content_box">
      <h1>Login to Scrum King &#10024;</h1>
      <form method="POST">
        <div class="txt_field">
          <input type="email" name="email" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="password", name="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
          don't have an account? <a href="http://127.0.0.1:5000/signup">Signup now!</a>
        </div>
      </form>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
  </div>
</div>
{% endblock %}